/**************************/
/*GENERAL COMPONENTS*/

.heading-primary,
.heading-secondary {
  font-weight: 600;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.1;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 6rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 800;
  color: #fff;
  padding: 1.6rem 3.2rem;
  border-radius: 15px;
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #2e5c52;
}

.btn--full:hover,
.btn--full:active {
  background-color: #1d3a34;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #88aba4;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #618f85;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.grid {
  display: grid;
  gap: 9.6rem;
  grid-template-columns: 1fr 1fr;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}


/********************/
/*HEADER*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf4ee;
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 6rem;
  border-radius: 2.5rem;
}
